body {
    height: 100%;
    background-color: black;
}

@media  screen and (min-width : 768px) {
    .main {
        height: 85vh; 
        margin-bottom: 2px;
    }
    .footer {
        height: 7vh;
        background-color: white;
    }
}